html, body{
    margin: 0;
    padding:0;
    font-family: var(--font-family);
    background-color: var(--body-bk);
}

:root {
    --font-family: 'Karla',sans-serif;
    --body-bk: #1E1F25;
    --btn-bk: #000;
    --btn-color: #cbcbcb;
    --btn-color-hover: #fff;
    --grd-color1: #eeaf61;
    --grd-color2: #fb9062;
    --grd-color3: #ee5d6c;
    --grd-color4: #ce4993;
    --grd-color5: #6a0d83;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button{
    border: none;
    background-color: var(--btn-bk);
    color: var(--btn-color);
    padding: 1em 1.5em;
    font-family: inherit;
    letter-spacing: .5em;
}

.button-border{
    background: linear-gradient(115deg,var(--grd-color1),var(--grd-color2),var(--grd-color3),var(--grd-color4),var(--grd-color5));
    padding: 2px;
}

.button-border:hover{
    background: linear-gradient(230deg,var(--grd-color1),var(--grd-color2),var(--grd-color3),var(--grd-color4),var(--grd-color5));
    padding: 2px;
}

.button-border:hover .button{
    color: var(--btn-color);
    padding: 1.5em 1.8em;
}

.search_bar{
    background-color: rgb(239, 235, 235);
    width: 300px;
    height: 50px;
    border-radius: 20px;
    margin: 40px auto;
    display: flex;
    justify-items: center;
}

.black{
    width: 80px;
    padding: 14px;
    border-radius: 50%;
    background-color: black;
}
.blue{
    padding: 12px;
    border-radius: 50%;
    background-color: blue;
}
.red{
    padding: 10px;
    border-radius: 50%;
    background-color: red;
}
.yellow{
    padding: 8px;
    border-radius: 50%;
    background-color: yellow;
}

